<html>

	 <head>
  <link rel="stylesheet" type="text/css" href="../static/newwwww.css">

	<title>This is me!</title>
</head>
<body>

	<img src="https://scontent.fjrs2-1.fna.fbcdn.net/v/t1.0-9/26904149_1545709982210368_4181960962913005374_n.jpg?_nc_cat=0&oh=af8310a6af8948a82eb6e46d3d3ac435&oe=5BE8BA4E"; width="300" height="300">
	<h1> Amna Abo Samhadana </h1>
	<h2> Welcome to my website <h2/>
	
	<P> My name is Amna Abo Samhadana, I'm 16 years old, studying at The Orthodox private school, I'll talk about my hobbies, my favourite novel, ect... <P/>
	<h1> My hobbies </h1>
		<li> Swimming </li>
		<li> Writing novels </li>
		<li> Playing basketball and tennis </li>
			<title>Hobbies!</title>
	<link rel="stylesheet" type="text/css" href="hobbies.css">
	<script src="myjava.js"> </script>
</head>
<body>
	<div class="header">
		<h1 id="header">
		
	</div>
	
	<div class="container">
		<p id ="amna"></p>
		<button id="But" onclick= changename()>
		Click me! </button>
		<script>



		function changename(){
			
				document.getElementById("But").innerHTML= "you already saw it!";
				open(src="../static/Untitled.jpg");
			}
		
		function doclick(){
			open(src="../static/Untitled.jpg");

		}
		var d = new Date ();
		document.getElementById("amna").innerHTML = d;
				</script>



	<h1> My favourite novel </h1>
	<P> My favourite novel is "Anta le", it's talking about orphan girl who lives with her uncle's family and has lots of issues in her life.
	<P/>
	<a href = "https://ar.wikipedia.org/wiki/%D8%A3%D9%86%D8%AA_%D9%84%D9%8A_(%D8%A7%D9%84%D8%AC%D8%B2%D8%A1_%D8%A7%D9%84%D8%A3%D9%88%D9%84)" >
	See more
	<a/> 	
	<h1> My dream </h1>
	<P> My dream is to be a volunteer doctor to help poor people as much as I can <P/>
	<h1 id="demo" onmouseenter="mouseEnter()" onmouseleave="mouseLeave()">Hope you like it!</h1>

<script>
function mouseEnter() {
    document.getElementById("demo").style.color = "purple";
}

function mouseLeave() {
    document.getElementById("demo").style.color = "blue";
}
</script>


</body>
</html>